<div class="row">
  <div class="col-12">
    <div *ngIf="hasError" class="alert alert-danger" role="alert">
      An error occurred while processing the request. Please check the details in the form below and try again.
    </div>

    <p>Please enter the <strong>City Name</strong> and the <strong>Country Code</strong> below and click on the Submit button to get the latest weather information</p>

    <form>
      <div class="mb-3">
        <label for="cityNameInput" class="form-label">City Name</label>
        <input type="text" class="form-control" id="cityNameInput" name="cityName" [(ngModel)]="cityName">
      </div>

      <div class="mb-3">
        <label for="countryCodeInput" class="form-label">Country Code</label>
        <input type="text" class="form-control" id="countryCodeInput" name="countryCode" [(ngModel)]="countryCode">
      </div>

      <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="isLoading">
        <ng-container *ngIf="!isLoading">Submit</ng-container>
        <ng-container *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i> Loading</ng-container>
      </button>
    </form>
  </div>
</div>

<ng-container *ngIf="model">
  <hr />

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Weather in {{cityName}}</h5>
      The weather in {{cityName}} ({{countryCode}}) is <strong>{{model.description}}</strong>
    </div>
  </div>
</ng-container>
